.my-chats {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 30px 30px;
}

.my-chats__chats {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;

}

.my-chats__message {
  justify-self: center;
  align-self: center;
  font-size: 24px;
}

@media only screen and (max-width: 515px) {
  .my-chats__chats {

    display: flex;
    flex-direction: column;
  }

}