.footer {
  display: flex;
  align-items: center;
  padding: 0px 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.03);
  height: 24px;
  border-radius: 12px;
}

.footer__text {
  margin: 0;
}

.footer__year {
  margin: 0 0 0 auto;
}